
*{
  color: white;
  text-decoration: none;
  /*font-family: "Covered By Your Grace";*/

}

*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
}



html, body{
  scroll-behavior: smooth; 
  overscroll-behavior: none;
  height: 100dvh;
  margin: 0;
  padding: 0;
background-image: url(../assets/background001.webp);
}



/*-----------------------------------------------------------------*/

.modal-alerta,
.QRRARO,
.carta,
.fondonegro,
#ventanaExpansiones,
.ventana-emergente,
.fondo-rainbow,
.medio,
.sombra,
.arriba,
.bordecarta,
.efectoholograficolineas,
.capaholograficaestrellas,
.line-container,
.main-container,
.cartel,
.overlaY{
  width: 100%;
  height: 100%;
}


.medio,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.arriba,
.sombra,
.overlay,
.efectoholograficolineas,
.capaholograficaestrellas,
.bordecarta,
.trasera,
.michi{
  pointer-events: none;
  outline: none;
}

.carta,
.fondo-rainbow,
.medio,
.arriba,
.sombra,
.efectoholograficolineas,
.line-container,
.cartel,
.botonreset,
.main-container,
.overlay,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6{
  position: absolute;
}

.modal-alerta,
.QRRARO,
.overlay,
.fondonegro,
#ventanaExpansiones,
.BOTONDESBLOQUEAR,
.contenedorbotoncerrar,
.overlay-fondo{
    backdrop-filter: blur(5px);

}

.modal-alerta,
.carta,
.BOTONDESBLOQUEAR,
.contenedorcolores,
.botonatras:nth-child(1),
.botonatras:nth-child(2),
.botonatras:nth-child(3),
.botonatrasexpansiones{
    align-items: center;
  justify-content: center;
}

.modal-alerta,
.contenedor,
.botonesmenu,
.BOTONDESBLOQUEAR,
 .cartasgaleriacontainer,
 .contenedorcolores,
 #pantallaNegra.activo,
 .pantallacargando,
 .tarjeta,
 .line-container,
 .contenedorbotoncerrar,
 .botonatras:nth-child(1),
 .botonatras:nth-child(2),
 .botonatras:nth-child(3),
 .botonatrasexpansiones,
 .carruseldeexpansiones,
 .ventana-emergente{ 
   display: flex;
}


 .michiconfundido,
 .noticias,
 .galeriaapp,
 .quees,
 .insta,
 .descargarapp,
 .codigoqrdecarta{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contenido-alerta,
.descripcionbanner,
.BOTONDESBLOQUEAR,
.BOTONDESBLOQUEAR input,
.codigoqrdecarta{
  text-align: center;
}
/*------------------------------ALERTA-------------------------------------*/
.modal-alerta {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.531);
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.contenido-alerta {
  width: 60%;
  height: 300px;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.4s ease-out;
}
.michiconfundido{
  width: 100%;
  height: 50%;
  background-image: url(../assets/ALERT.webp);
}
.contenido-alerta p,
.contenido-alerta button,
.TEXTOQRALERTA,
.btn-cerrar-cartel,
.cartel-advertencia p{
    padding: 0% 10%;
  color: black;
  font-family:Arial, Helvetica, sans-serif !important;
  font-weight: bold ;
}

.modal-alerta button,
.btn-cerrar-cartel {
  background-color: #ffffff1e;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 2PX SOLID rgba(255, 255, 255, 0.28);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
}

.modal-alerta button:hover {
  background-color: #ffffff;
}

.oculto {
  display: none;
}


/* Animaciones */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideDown {
  from {transform: translateY(-20px);}
  to {transform: translateY(0);}
}

@keyframes psicodelicoBrillo {
  0%, 100% {
    filter: brightness(0.7) saturate(1) contrast(1);

  }
  40%, 60% {
    filter: brightness(1) saturate(1.8) contrast(1.3);
  }
  50% {
    filter: brightness(1.5) saturate(2.5) contrast(1.5);
  }
}

/*----------------------------BANNER---------------------------------------*/

  /*-----------------------------Menu -------------------------------*/


.contenedor{
  overflow: hidden;
  width: 100%;
  height: 100vh;
    flex-direction: column;
    align-items: center;

}

.logo{
  width: 100%;
  height: 60%;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: carruselmenu 30s ease-in-out infinite;
}
@keyframes carruselmenu {
  0%{
  background-image: url(../assets/background_BANNER.webp);
  }
      35%{
  background-image: url(../assets/background_BANNER.webp);
  }
    40%{
  background-image: url(../assets/background_BANNER_002.webp);
  }
      70%{
  background-image: url(../assets/background_BANNER_002.webp);
  }
    75%{
  background-image: url(../assets/background_BANNER_003.webp);
  }
      95%{
  background-image: url(../assets/background_BANNER_003.webp);
  }
      100%{
  background-image: url(../assets/background_BANNER.webp);
  }

}

.botonesmenu{
  padding-top: 2%;
  gap: 20px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.galeriaapp, .quees, .insta, .descargarapp{
 width: 20vw;             
  max-width: 150px;        
  aspect-ratio: 1 / 1; 
}
.galeriaapp:hover, .quees:hover, .insta:hover, .descargarapp:hover{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.descargarapp{
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.descripcionbanner{
  position:absolute;
  margin: 0;
  bottom: 10px;
  width: 75%;
  font-size: 0.6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  color: rgb(255, 255, 255);

}

  /*-----------------------------Menu app-------------------------------*/


/*-------------------------------------------------------------------*/


/*--------------------------------BOTON DESBLOQUEAR CARTA-----------------------------------*/

.BOTONDESBLOQUEAR{
  overscroll-behavior: none;
background-color: rgba(255, 255, 255, 0.107);
backdrop-filter: blur(5px);
border: 3px solid rgba(255, 255, 255, 0.083);
border-radius: 10px;
  font-family:Helvetica;
padding: 10px;
margin: 0 auto;
  z-index: 500;
  top: 20px;
position: sticky;
  width: 300px;
}
#codigoGlobal {
  border: none;
  color: rgb(255, 255, 255); 
}
#codigoGlobal::placeholder {
  border: none;
  color: rgb(211, 211, 211); 
}
.BOTONDESBLOQUEAR input{
  outline: none;
  font-weight: lighter;
background-color: rgba(255, 255, 255, 0);
border: none;
}
.BOTONDESBLOQUEAR button{
  cursor: pointer;
  height: 40px;
font-size: 150%;
border: none;
background-color: rgba(255, 255, 255, 0);
transition: 0.3s ease;

}
.BOTONDESBLOQUEAR button:hover{
  transition: 0.3s ease;
transform: scale(1.3);
}



/*----------------------------ESCANER QR---------------------------------------*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.51);
  z-index: 999999999;
  display: none; 
  align-items: center;
  flex-direction: column;
}


#reader {
  border-radius: 20px;
  height: auto;
  width: 80%;
  top: 20%;
}


/*-------------------------------------------------------------------*/


.carousel-container {
  width: 100%;
  height: auto;

  }
  
  .cartasgaleriacontainer{
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

.contenedorcolores{
  gap: 20px;
  flex-wrap: wrap;
  width: 85%;
  height: auto;
}

  .cartaejemplo{
    cursor: pointer;
    filter: saturate(1.2) contrast(1.2);
border-radius: 3px;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: none;
    transition: 0.3s ease;


  }
  .cartaejemplo:hover{
transform: scale(1.1);
  }

  .carta-wrapper {
        width: 103px;
    height: 150px;
    position: relative;
    display: inline-block;
  }
  .overlay-bloqueo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
border-radius: 3px;
background-size: contain;
background-image: url(../assets/cartas/BACK.webp);
  }
.overnormal{
filter: sepia(1) grayscale(1) brightness(0.6) ;
}

.overraro{
filter: sepia(1) saturate(3) hue-rotate(240deg) brightness(0.7) ;

}

.overespecial{
filter: sepia(1) saturate(3) hue-rotate(350deg) brightness(0.7) ;
}



/* --------------------------------------requisitos y alerta de legendarias------------------------------------ */

.overlay-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.467);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
    animation: fadeIn 0.3s ease-in-out;
}

.cartel-advertencia {
  padding: 5%;
  position: fixed;
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10PX;
    width: 70%;
  height: auto;
  background: rgb(240, 196, 1, 1);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  z-index: 9999;
  text-align: center;
    animation: slideDown 0.4s ease-out;
}


.cartas-requeridas {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;

}
.cartel-advertencia p b{
  color: rgb(125, 125, 125);
}

.carta-mini {
  width: 70px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 4px;

}

.mini-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.493);
  backdrop-filter: blur(1px);
  border-radius: 4px;
}
.alerta-desbloqueo {
  height: 50PX;
  display: flex;
  position: fixed;
  top: 5%;
  right: -300px; /* inicia fuera de pantalla */
background: linear-gradient(90deg,rgba(240, 196, 1, 1) 80%, rgba(255, 234, 0, 0) 79%);
  padding: 10px;
  border-radius: 5px;
  transition: right 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 99999999 !important;
  color: black !important;
  align-items: center;
}

.alerta-desbloqueo.visible {
  right: 0;
  opacity: 1;
}

.alerta-desbloqueo .mensaje {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  font-size: 70%;
  padding-left: 5px;
  align-items: center;
}

.alerta-desbloqueo .circulo-imagen {
  width: 80px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}

.alerta-desbloqueo .circulo-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* -------------------------------------------------------------------------- */

#pantallaNegra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 9999;
  display: none; /* por defecto oculto */
}
#pantallaNegra.activo {
  display: flex; /* se activa el flex para centrar */
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 8px solid rgba(212, 0, 255, 0.429);
  border-top: 8px solid rgb(255, 5, 226);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.4s linear infinite;

}

/* Animación giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes sacudida {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-3deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(3deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@keyframes rotacion {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(4deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-8deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(8deg);
	}

	80% {
		transform: rotate(-4deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

.pantallacargando{
    justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-color: black;
  position: fixed;
  z-index: 999999999999999999;
  pointer-events: none;
  animation: cargando 1s ;
filter: opacity(0);
}
@keyframes cargando{
  0%{
    filter: opacity(1);
  }
      99%{
    filter: opacity(1);
  }
    100%{
    filter: opacity(0);
  }
}


  .carousel-item {
    background-size: cover;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
      justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 999999;
    transform-style: preserve-3d;
    overscroll-behavior: none;
  }


/* --------------------------QR DE CARTA------------------------- */
.codigoqrdecarta {
  display: none;
  position: absolute;
  z-index: 999999999999999999999999;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.2s ease, transform 0.2s ease;
  border-radius: 15PX;
    padding: 5%;
    box-shadow: 0px 0px 1px 100px rgba(0, 0, 0, 0.579);


}


.codigoqrdecarta.mostrar {
  display: block;
  opacity: 1;
  transform: scale(1);
}


.sinQRNORMAL{
background-color:rgb(240, 196, 1);
  width: 70%;
  height: 65%;

}
.QRRARO{
background-color:rgba(0, 0, 0, 0.545);
}

/* HAZ DE LUZ */
.QRRARO::before {
  content: "";
  position: absolute;
  top: -300%;
  left: 100%;
  width: 20px;
  height: 300%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.745) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(35deg);
  animation: hazLuz 0.9s ease-in-out;
  filter: blur(10PX);
}
@keyframes hazLuz {
  0% {
    top: -240%;
    left: 100%;
  }
  100% {
    top: 150%;
    left: -100%;
  }
}

.TEXTOQRALERTA{
  margin: 20PX;
}

/* --------------------------QR DE CARTA------------------------- */



  .Cnormal{
background: radial-gradient(circle,rgba(255, 255, 255, 0) 60%, rgba(20, 176, 122, 0.465) 100%);
    animation: entradacolores 1s ease-in-out;

  }
    .Craro{
    background: radial-gradient(circle,rgba(255, 255, 255, 0) 60%, rgba(238, 0, 255, 0.473) 100%);
    animation: entradacolores 1s ease-in-out;
  }
      .Clegendario{
    background: radial-gradient(circle,rgba(255, 255, 255, 0) 60%, rgba(255, 217, 0, 0.516) 100%);
        animation: entradacolores 1s ease-in-out;

  }
  @keyframes entradacolores{
    0%{
      filter: opacity(0) ;
    }
    100%{
      filter: opacity(1) ;
    }
  }

.carta{
overflow: visible;
    filter: saturate(1.2) contrast(1.2);
}


.tarjeta,
.carousel-container{
  justify-content: center;
  align-items: center;
}

.tarjeta {
  z-index: 10;
  position: absolute; 
  perspective: 2000px;
  transform-style: preserve-3d;
}

.tarjeta.flip {
  animation: giro2 0.8s forwards;
  width: 309px;
  height: 450px;
}
@keyframes giro2 {
  0% {  transform: rotateY(0deg) scale(2) rotate(-20deg) ;  }
  100% { transform: rotateY(360deg);  }
}




.tarjeta.flip > .frente{
pointer-events: all;
}

.carta {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  border-radius: 11px;
overflow: hidden;

}
.frente{
  pointer-events: none;
}
.trasera{
  background-image: url(../assets/cartas/BACK.webp);
  background-size: cover;
  transform: rotateY(180deg);
  background-size: cover;
    z-index: 9999999999;
    backface-visibility: hidden;
}

.lineascolores{
  width: 100%;
  height: 100%;
    position: absolute;
}

.fondo-rainbow{
  background: linear-gradient(45deg, rgba(0,255,76,1) 0%, rgba(255,0,228,1) 49%, rgba(0,202,255,1) 71%, rgba(255,248,0,1) 100%);
}

.medio {z-index: 5; }
.arriba {z-index: 10;}
.sombra {z-index: 19;}
.bordecarta{z-index:14;}

.michi{
  background-size: cover;
  position: absolute;
  width: 309px; 
  height: 450px;
}


@keyframes blur{
  0%{
 filter: blur(0px);
  }
  30%{
    filter: blur(0px);
  }
  100%{
    filter: blur(4px);
  }
}

@keyframes GIRAR{

  100%{
    transform: rotate(360deg);
  }
}

@keyframes flotar{
  0%{
    transform: translateY(0px) rotate(-2deg);
  }
  100%{
    transform: translateY(8px) scale(1.03);
  }
}

@keyframes animacion {
  from { background-position: 0 0; }
  to { background-position: -1236px 0; } /* Se mueve 4 frames (342px * 4) */
}

.bordecarta{
  z-index: 18;
  position: absolute;
  background-image: url(../assets/cartas/borde.webp);
  background-size: cover;

}
  

 

.circle1 {
  /*---------------abajo de troquel amplio-------------------*/
  box-shadow: 0px 0px 100px 100px rgb(255, 255, 255);
  z-index: 9;
}
.circle6 {
  /*---------------abajo de troquel amplio-------------------*/
  box-shadow: 0px 0px 50px 70px rgb(255, 255, 255);
  z-index: 5;
}
.circle5 {
  /*---------------abajo de troquel chico-------------------*/
  box-shadow: 0px 0px 50px 50px rgb(255, 255, 255);
  z-index: 9;
}

.circle2 {
  /*---------------arriba de troquel chico-------------------*/
  box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.792);
  z-index: 10;
}


.circle4 {
  /*---------------arriba de todo blanco-------------------*/
  box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.326);
  z-index: 20;
}


.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
  border-radius: 50%;
}

.fondonegro{
  z-index: 999998;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.467);
}




.contenedor-instalar {
display: none;
}

.separacion{
  position: relative;
  width: 100%;
  height: 100px;
}

.expansion{
  pointer-events: none;
transform: translateY(50px);
  width: 100%;
  height: 150px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


  /*-----------------------------info-------------------------------*/

.infocontainer{
 width: 100%;
 height: 100dvh;
}
.infobanner{
  width: 100%;
  height: 70%;
  background-color: rgba(255, 0, 0, 0.465);
}








.contenedorbotoncerrar{
  display: none;
}
  /*-----------------------------MEDIA--------------------------------*/
  @media only screen and (max-width: 600px){



.contenedorbotoncerrar{
  z-index: 999;
    display: flex;
  position: fixed;
  width: 300px;
background-color: rgba(255, 255, 255, 0.107);
border: 3px solid rgba(255, 255, 255, 0.083);
border-radius: 10px;
transform: translateX(-50%);
left: 50%;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
margin: 0 auto;
  bottom: 20px;

}



.botonatras:nth-child(1), .botonatras:nth-child(2), .botonatras:nth-child(3), .botonatrasexpansiones {
  font-family: Arial;
  width: 40px;
  height: 40px;
  font-size: 120%;
  background-size: cover;
}

.botonatras:nth-child(2), .botonatrasexpansiones{
  border-radius: 50%;
     border: 1px solid white;
       background-color: rgba(255, 255, 255, 0.214);
}

.botonatras:nth-child(1),.botonatras:nth-child(3){
  background-size: cover;
  font-size: 70%;
}




  /*-----------------------------EXPANSIONES--------------------------------*/
#ventanaExpansiones {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.399);
  z-index: 999999999;
  justify-content: center;
  align-items: center;
}

.ventana-emergente {
  justify-content: center;
  align-items: center;
}
.categoriaexpansiones{
  width: 80%;
  height: 70%;
}



  /*-----------------------------carrusel expansiones-------------------------------*/

.carruseldeexpansiones-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carruseldeexpansiones {
  transition: transform 0.5s ease;
  width: 100%;
}

.carruseldeexpansiones-item {
  min-width: 100%;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: entrada 0.5s ease;
}
@keyframes entrada{
  0%{
    transform: scale(1.5);
  }
    100%{
    transform: scale(1);
  }
}
.carruseldeexpansiones-btn {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 6rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

.carruseldeexpansiones-btn.prev {
  left: 10px;
}

.carruseldeexpansiones-btn.next {
  right: 10px;
}



    .cartaejemplo:hover{
      transform: none;
        }
      

    }

@media only screen and (max-width: 500px){

.logo{
  height: 40%;

}
.botonesmenu{
  padding-top: 15%;
  justify-content: center;
  gap: 10px;
}

.noticias, .galeriaapp, .quees, .insta, .descargarapp{
 width: 38vw; 
border-radius: 5%;
 
}

  .carta-wrapper {
    width: 80px;
    height: 117px;
  }
  .banner{
    display: none;
  }
  .bannerlogo{
    background-position: center;
    width: 220px;
    height: 250px;
  }
  .bannermichis{
display: none;
  }



  
  }

  @media only screen and (max-width: 360px){


  .carta-wrapper {
    width: 70px;
    height: 103px;
  }

  .bannermichis{
display: none;
  }

  
  }